
@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?39819979');
    src: url('../font/fontello.eot?39819979#iefix') format('embedded-opentype'),
         url('../font/fontello.woff2?39819979') format('woff2'),
         url('../font/fontello.woff?39819979') format('woff'),
         url('../font/fontello.ttf?39819979') format('truetype'),
         url('../font/fontello.svg?39819979#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'SegoeUI';
    src: url('../font/SegoeUILight.eot');
    src: url('../font/SegoeUILight.eot') format('embedded-opentype'),
         url('../font/SegoeUILight.woff') format('woff'),
         url('../font/SegoeUILight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0px;
    background: #ebebeb;    
}

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-top: 70px;
    max-width: 1024px;   
    font-family: 'SegoeUI', Courier, monospace; 
}

.header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    height: 50px;   
    font-family: 'SegoeUI', Courier, monospace; 
}

.header-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;    
    max-width: 1024px;
}

.header-items a {
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 7px;
    text-decoration: none;
    color: #fff;
    background: #000;
    border-radius: 5px;   
}

.header-icon{
    display: inline-block;    
    width: 1em;
    margin-right: .2em;
    margin-left: .2em;    
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    font-family: "fontello";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;  
}

.header-nav-desktop {
    display: inline-block;
}

.header-nav-desktop-mobile {
    display: none;
}

.section-description-project > span:first-child {
    font-weight: bold;
    font-size: 1.2em;
}

.section-description-project > div:first-child {
    font-weight: bold;
    font-size: 1.2em;
}

.text-part  > span:first-child {
    font-weight: bold;
}

.contact  > span:first-of-type {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.4em;
}

.contact > div:last-of-type {
    margin-top: 10px;
}

.menu-item {
    position: relative;
    display: flex;    
    flex-basis: 160px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    font-size: 17px;    
    color: #232323;
    background: #fff;
    text-align: center;
    box-shadow: 0 2px 0 #e2e2e2;
    border-radius: 5px;
    border: 1px solid transparent;  
    align-items: center;
    cursor: pointer;
}

.menu-items {
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap; 
}

.sections {
    display: flex;
    flex-direction: column;
    width: 90%;  
    max-width: 1024px;
    font-family: 'SegoeUI', Courier, monospace;
}

.title {
    width: 100%;
    margin-bottom: 6px;
    border-bottom: 4px double #333;
    font-family: 'SegoeUI', Courier, monospace;
    text-align: right;    
    line-height: 1.3;
    clear: both;    
}

.section-description {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
    padding: 10px;          
    font-family: 'SegoeUI', Courier, monospace;
    background-color: white;
    border-radius: 15px;
}

.section-description-project {
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
    padding: 10px;   
    background-color: white;
    border-radius: 15px;
    align-items: center;
}

.section-description-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-description-info:last-child {
    text-align:  center;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.foto {    
    width: 250px;
    height: 250px;
    border-radius: 150px;    
    background:url('../img/foto.png');
    background-size: cover;
}

.contact {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    align-items: center;
    width: 40%;
    margin-right: 10px;
}

.text-part {    
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: space-between;    
    height: 50px;
    width: 100%;
    margin-top: 30px;
    background: #141414;    
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 50px;
    background: #25205e;    
}

a {
    text-decoration: none;
}

.demo-icon
{
    display: inline-block;
    width: 1em;
    margin-right: .2em;
    margin-left: .2em;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 3em;     
    text-decoration: inherit;
    text-align: center;  
    font-variant: normal;
    text-transform: none; 
    line-height: 1em;
}

 .linked-icon
{
    display: inline-block;
    width: 1em;
    margin-right: .2em;
    margin-left: .2em;    
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    text-decoration: none; 
    text-decoration: inherit;
    text-align: center; 
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.linked-icon:hover {
    color: #e40510;
}

.menu-item:hover {
    color: #e40510;
}

img {
    border-radius: 100px;
}

@media screen and (max-width: 950px) {
    .header-items >a:first-child {
        display: none;
    }

    .header-nav-desktop {
        display: none;
    }
    
    .header-nav-desktop-mobile {
        display: inline-block;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }
}














#project01-btn1:checked ~.examples-project-description label[for="project01-btn1"] {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #71ABFF;
	width: 12px;
	height: 12px;
  }
  
  #project01-btn2:checked ~.examples-project-description label[for="project01-btn2"] {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #71ABFF;
	width: 12px;
	height: 12px;
  }
  




  .slider-inner {
	overflow: hidden;
	width: 700px;
	margin-top: 16px;
  }
  
  .slides {
	width: 400%;
	transition: all 0.5s;
	display: flex;
  }
  
  .slides div {
	width: 700px;
	height: 377px;
	text-align: center;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08), 0 7px 22px 0 rgba(0,0,0,0.12);
	border-radius: 8px;
  }
  
  #project01-btn1:checked~.slider-inner .slides {
	transform: translate(0);
  }
  
  #project01-btn2:checked~.slider-inner .slides {
	transform: translate(-700px);
  }




	.examples-project01 {
		background-size: cover;
		background-position: center; 
		}
		
		.examples-project02 {
		background-size: cover;
		background-position: center; 
		}
		
		.examples-project01:nth-child(1) {
        background-image: url('../img/examples/progect01_01.png');
        border: solid 1px;
		}
		
		.examples-project01:nth-child(2) {
        background-image: url('../img/examples/progect01_02.png');
        background-position: top;
        border: solid 1px;
		}
		


.examples-project-description {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	width: 700px;
}

.slider-inner-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

  
.project-description {
	width: 520px;
	font-family: 'PT Sans', sans-serif;;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
}
  
  
  .examples-wrapper {
	display: flex;
	align-items:  center;  
	width: 1000px;
	flex-direction: column;
  }
  
  
  .slider {
	position: relative;
	max-width: 890px;
  }
  
  input[name="switch01"] {
	display: none;
  }
  
  input[name="switch02"] {
	display: none;
  }
  
  .switch {
	display: flex;
	margin-top: 8px;
  }
  
  .switch label {
	display: inline-block;
	width: 14px;
	height: 14px;
	cursor: pointer;
	margin: 0 3px;
  
	border-radius: 50%;
	background-color: #71ABFF;
  }

  .switch label:hover {
	 background-color: #FFFFFF;  
  }

	